@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

.tox-notifications-container {
  display: none !important;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg; /*or text-lg */
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
  ul,
  ol {
    list-style: revert;
  }
}

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

.emoji-list {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f2f2f2;
  padding: 16px;
  font-size: 2rem;
  margin-top: 1rem;
}
.emoji-item {
  padding: 8px;
  cursor: pointer;
}

@keyframes animate-dash {
  0% {
    stroke-dasharray: 380;
    stroke: #1d1d1d;
  }
  50% {
    stroke-dasharray: 0;
    stroke: orange;
  }
  100% {
    stroke-dasharray: 380;
    stroke: #1d1d1d;
  }
}
#cofo-spinner path {
  animation: animate-dash 4s infinite ease-in-out;
  stroke: #fff;
}
